.container {
    text-align: center;
    border: 0px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(92, 190, 105);
    padding-bottom: 10px;
}

.logo {
    padding: 5px;
}

.accordion {
    direction: rtl;
}

.accordion-body {
    text-align: right;
}

.headline {
    font-weight: 500;
}

